Repository hazelcast/hive: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx doctoc

Terminal: Preserve response formatting (#249)
  packages/ui/.loki/reference/chrome_minimal_Components_Terminal_HTML_Response.png
  packages/ui/__stories__/Terminal.stories.tsx
  packages/ui/src/Terminal.module.scss
Due: npx prettier --write

Fix Terminal history traversal
  packages/ui/src/Terminal.tsx
Due: npx prettier --write

Fix Terminal history traversal (#250)
  packages/ui/src/Terminal.tsx
Due: npx prettier --write

update(ui): add new screenshots
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Autocomplete_Field_Clearable_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Autocomplete_Field_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Clearable.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Clearable_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Custom_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Not_Selected.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_With_Custom_Placeholder.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_With_Helper_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_With_Custom_Placeholder.png
  packages/ui/package.json
Due: npx prettier --write

HZC-1299: UI 242 autocomplete (#244)
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Autocomplete_Field_Clearable_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Autocomplete_Field_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Clearable.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Clearable_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Custom_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Not_Selected.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_With_Custom_Placeholder.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_With_Helper_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_With_Custom_Placeholder.png
  packages/ui/__stories__/AutocompleteField.stories.tsx
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/__tests__/AutocompleteField.test.tsx
  packages/ui/__tests__/AutocompleteFieldFormik.test.tsx
  packages/ui/package.json
  packages/ui/src/AutocompleteField.module.scss
  packages/ui/src/AutocompleteField.tsx
  packages/ui/src/AutocompleteFieldFormik.tsx
  packages/ui/src/SelectField.tsx
Due: npx prettier --write

feat: enable Tab to be an anchor
  packages/ui/__stories__/Tabs.stories.tsx
  packages/ui/src/Tabs/Tab.module.scss
  packages/ui/src/Tabs/Tab.tsx
  packages/ui/src/Toggle.tsx
Due: npx prettier --write

feat: add onClick props to Tab component
  packages/ui/__stories__/Tabs.stories.tsx
  packages/ui/src/Tabs/Tab.tsx
Due: npx prettier --write

fix: add missing dependency to handleClick in Tab
  packages/ui/src/Tabs/Tab.tsx
Due: npx prettier --write

fix: update screenshots and README
  README.md
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open_Fullscreen_Fullheight.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tabs_Controlled.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tabs_Full_Width.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tabs_Navigation.png
Due: npx prettier --write, npx doctoc

Feat: enable Tab to be an anchor (#251)
  README.md
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open_Fullscreen_Fullheight.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tabs_Controlled.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tabs_Full_Width.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tabs_Navigation.png
  packages/ui/__stories__/Tabs.stories.tsx
  packages/ui/src/Tabs/Tab.module.scss
  packages/ui/src/Tabs/Tab.tsx
  packages/ui/src/Toggle.tsx
Due: npx prettier --write, npx doctoc

fix: remove href from link tab if it's selected
  packages/ui/src/Tabs/Tab.tsx
Due: npx prettier --write

fix: remove href from link tab if it's selected (#253)
  packages/ui/src/Tabs/Tab.tsx
Due: npx prettier --write

update(ui): format groups
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/src/SelectField.module.scss
  packages/ui/src/SelectField.tsx
Due: npx prettier --write

update(ui): add custom menu footer
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/src/AutocompleteField.tsx
  packages/ui/src/SelectField.tsx
Due: npx prettier --write

update(ui): add grouped value typings
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/src/SelectField.module.scss
  packages/ui/src/SelectField.tsx
Due: npx prettier --write

update(ui): change group label font-size
  packages/ui/src/SelectField.module.scss
Due: npx prettier --write

update(ui): add dynamic hz versions select
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Custom_Menu_Footer.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Grouped_Options.png
Due: none

HZC-1318 / UI-245 groupable select field (#252)
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Custom_Menu_Footer.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Grouped_Options.png
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/src/AutocompleteField.tsx
  packages/ui/src/SelectField.module.scss
  packages/ui/src/SelectField.tsx
Due: npx prettier --write

update(ui): add custom radio checkmark
  packages/ui/__stories__/Radio.stories.tsx
  packages/ui/src/Radio.tsx
Due: npx prettier --write

update(ui): use select buil-in methods
  packages/ui/__stories__/AutocompleteField.stories.tsx
  packages/ui/src/AutocompleteField.tsx
Due: npx prettier --write

update(ui): update screenshots
  packages/ui/.loki/reference/chrome_minimal_Components_Radio_Radio_Custom_Checkmark.png
Due: none

update(ui): radio circle min-size
  packages/ui/src/Radio.module.scss
Due: npx prettier --write

Feature/UI 255 extended radio props (#256)
  packages/ui/.loki/reference/chrome_minimal_Components_Radio_Radio_Custom_Checkmark.png
  packages/ui/__stories__/AutocompleteField.stories.tsx
  packages/ui/__stories__/Radio.stories.tsx
  packages/ui/src/AutocompleteField.tsx
  packages/ui/src/Radio.module.scss
  packages/ui/src/Radio.tsx
Due: npx prettier --write

feat: add size props to select
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/src/SelectField.module.scss
  packages/ui/src/SelectField.tsx
  packages/ui/styles/constants/_sizes.scss
Due: npx prettier --write

feat: regenerate images
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Clear.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Small.png
Due: none

feat: add smallMedium icon size
  packages/ui/.loki/reference/chrome_minimal_Components_Help_Help_Medium.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Bold.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Custom_Color.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Extra_Large.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Feather_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Feather_Icon_Small_Custom_Colour.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Large.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Medium.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon_Normal.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon_Normal_Custom_Colour.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon_Small.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon_Small_Custom_Colour.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Small.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Small_Medium.png
  packages/ui/__stories__/Help.stories.tsx
  packages/ui/__stories__/Icon.stories.tsx
  packages/ui/__tests__/Badge.test.tsx
  packages/ui/__tests__/Link.test.tsx
  packages/ui/__tests__/Overlay.test.tsx
  packages/ui/src/AutocompleteField.tsx
  packages/ui/src/Badge.tsx
  packages/ui/src/Icon.module.scss
  packages/ui/src/Icon.tsx
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/Link.tsx
  packages/ui/src/Loader.module.scss
  packages/ui/src/Loader.tsx
  packages/ui/src/Overlay.tsx
  packages/ui/src/SelectField.tsx
  packages/ui/styles/constants/_sizes.scss
Due: npx prettier --write

feat: add smallMedium icon size (#261)
  packages/ui/.loki/reference/chrome_minimal_Components_Help_Help_Medium.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Bold.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Custom_Color.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Extra_Large.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Feather_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Feather_Icon_Small_Custom_Colour.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Large.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Medium.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon_Normal.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon_Normal_Custom_Colour.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon_Small.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon_Small_Custom_Colour.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Small.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Small_Medium.png
  packages/ui/__stories__/Help.stories.tsx
  packages/ui/__stories__/Icon.stories.tsx
  packages/ui/__tests__/Badge.test.tsx
  packages/ui/__tests__/Link.test.tsx
  packages/ui/__tests__/Overlay.test.tsx
  packages/ui/src/AutocompleteField.tsx
  packages/ui/src/Badge.tsx
  packages/ui/src/Icon.module.scss
  packages/ui/src/Icon.tsx
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/Link.tsx
  packages/ui/src/Loader.module.scss
  packages/ui/src/Loader.tsx
  packages/ui/src/Overlay.tsx
  packages/ui/src/SelectField.tsx
  packages/ui/styles/constants/_sizes.scss
Due: npx prettier --write

Add onRenderedContentChange to Table
  packages/ui/__stories__/Table.stories.tsx
  packages/ui/src/Table/Table.tsx
Due: npx prettier --write

Fix tests
  packages/ui/src/Table/Table.tsx
Due: npx prettier --write

Add onRenderedContentChange to Table (#262)
  packages/ui/__stories__/Table.stories.tsx
  packages/ui/src/Table/Table.tsx
Due: npx prettier --write

feat: update Pagination according to design
  packages/ui/__stories__/NumberField.stories.tsx
  packages/ui/__stories__/Pagination.stories.tsx
  packages/ui/__tests__/NumberField.test.tsx
  packages/ui/__tests__/Pagination.test.tsx
  packages/ui/src/Link.tsx
  packages/ui/src/NumberField.module.scss
  packages/ui/src/NumberField.tsx
  packages/ui/src/Pagination.module.scss
  packages/ui/src/Pagination.tsx
  packages/ui/src/SelectField.tsx
  packages/ui/src/TextField.tsx
Due: npx prettier --write

feat: approve new screenshots for loki
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Disabled_Decrement.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Disabled_Increment.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Empty.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Number_Field_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_With_Helper_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_With_Min_And_Max.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Without_Inc_And_Dec_Buttons.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_Pagination_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Pagination_Full.png
  packages/ui/.loki/reference/chrome_minimal_Components_Table_Controlled_Pagination.png
  packages/ui/.loki/reference/chrome_minimal_Components_Table_Uncontrolled_Pagination.png
Due: none

Feat: update Pagination according to design (#264)
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Disabled_Decrement.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Disabled_Increment.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Empty.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Number_Field_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_With_Helper_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_With_Min_And_Max.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Without_Inc_And_Dec_Buttons.png
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_Pagination_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Pagination_Full.png
  packages/ui/.loki/reference/chrome_minimal_Components_Table_Controlled_Pagination.png
  packages/ui/.loki/reference/chrome_minimal_Components_Table_Uncontrolled_Pagination.png
  packages/ui/__stories__/NumberField.stories.tsx
  packages/ui/__stories__/Pagination.stories.tsx
  packages/ui/__tests__/NumberField.test.tsx
  packages/ui/__tests__/Pagination.test.tsx
  packages/ui/src/Link.tsx
  packages/ui/src/NumberField.module.scss
  packages/ui/src/NumberField.tsx
  packages/ui/src/Pagination.module.scss
  packages/ui/src/Pagination.tsx
  packages/ui/src/SelectField.tsx
  packages/ui/src/TextField.tsx
Due: npx prettier --write

Update README
  README.md
  hive.png
Due: npx prettier --write, npx doctoc

v1.0.0
  lerna.json
  packages/helpers/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/services/package-lock.json
  packages/services/package.json
  packages/test-helpers/package-lock.json
  packages/test-helpers/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: npx prettier --write

Update readme
  README.md
Due: npx prettier --write, npx doctoc

feat: add segmented control
  package-lock.json
  packages/icons/package-lock.json
  packages/ui/.loki/reference/chrome_minimal_Components_SegmentedControl_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_SegmentedControl_Wrapped_In_Formik.png
  packages/ui/__stories__/NumberField.stories.tsx
  packages/ui/__stories__/SegmentedControl.stories.tsx
  packages/ui/__tests__/SegmentedControl.test.tsx
  packages/ui/__tests__/SegmentedControlFormik.test.tsx
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/SegmentedControl.module.scss
  packages/ui/src/SegmentedControl.tsx
  packages/ui/src/SegmentedControlFormik.tsx
Due: npx prettier --write

feat: add segmented control (#266)
  package-lock.json
  packages/icons/package-lock.json
  packages/ui/.loki/reference/chrome_minimal_Components_SegmentedControl_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_SegmentedControl_Wrapped_In_Formik.png
  packages/ui/__stories__/NumberField.stories.tsx
  packages/ui/__stories__/SegmentedControl.stories.tsx
  packages/ui/__tests__/SegmentedControl.test.tsx
  packages/ui/__tests__/SegmentedControlFormik.test.tsx
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/SegmentedControl.module.scss
  packages/ui/src/SegmentedControl.tsx
  packages/ui/src/SegmentedControlFormik.tsx
Due: npx prettier --write

feat: add size prop to Button, refactor Button stories
  packages/ui/__stories__/Button.stories.module.scss
  packages/ui/__stories__/Button.stories.tsx
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
  packages/ui/src/Loader.tsx
  packages/ui/styles/constants/_sizes.scss
  packages/ui/styles/constants/_typography.scss
Due: npx prettier --write

feat: add size prop to SegmentedControl
  packages/ui/__stories__/SegmentedControl.stories.tsx
  packages/ui/__tests__/Button.test.tsx
  packages/ui/src/SegmentedControl.module.scss
  packages/ui/src/SegmentedControl.tsx
  packages/ui/styles/constants/_sizes.scss
Due: npx prettier --write

Path conditions:
  npx prettier --write: (any of: *.{js,ts,tsx,json,css,scss,yml}) or (any of: *.md)
  npx doctoc: any of: *.md
