Repository hazelcast/hive: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx doctoc

.lintstagedrc:

{
  "*.{js,ts,tsx,json,css,scss,yml}": [
    "npx prettier --write",
  ],
  "*.md": [
    "npx doctoc",
    "npx prettier --write",
  ]
}

install canary
  .github/workflows/pull-request.yml
  src/components/Button.tsx
Due: npx prettier --write

HZC-7800: install canary (#624)
  .github/workflows/pull-request.yml
  src/components/Button.tsx
Due: npx prettier --write

4.0.1-canary.2
  package-lock.json
  package.json
Due: npx prettier --write

refactor exports
  .claude/commands/update-hive.md
  package.json
  src/old/Tooltip.module.scss
  src/old/Tooltip.tsx
  src/old/index.ts
Due: npx prettier --write, npx doctoc

HZC-7800 fix lib exports (#625)
  .claude/commands/update-hive.md
  package.json
  src/old/Tooltip.module.scss
  src/old/Tooltip.tsx
  src/old/index.ts
Due: npx prettier --write, npx doctoc

4.0.1-canary.3
  package-lock.json
  package.json
Due: npx prettier --write

refactor badge
  .claude/commands/update-hive.md
  CLAUDE.md
  __stories__/Badge.stories.tsx
  __tests__/components/Badge.test.tsx
  docs/migration-v4.md
  src/components/Badge.module.scss
  src/components/Badge.tsx
Due: npx prettier --write, npx doctoc

refactor button
  __stories__/Button.stories.tsx
  docs/migration-v4.md
  src/components/Button.module.scss
  src/components/Button.tsx
Due: npx prettier --write, npx doctoc

refactor button
  __stories__/Button.stories.tsx
Due: npx prettier --write

HZC-7800: migrate badges buttons (#626)
  .claude/commands/update-hive.md
  CLAUDE.md
  __stories__/Badge.stories.tsx
  __stories__/Button.stories.tsx
  __tests__/components/Badge.test.tsx
  docs/migration-v4.md
  src/components/Badge.module.scss
  src/components/Badge.tsx
  src/components/Button.module.scss
  src/components/Button.tsx
Due: npx prettier --write, npx doctoc

4.0.1-canary.4
  package-lock.json
  package.json
Due: npx prettier --write

docs: add color migration guide
  docs/color-migration.md
Due: npx prettier --write, npx doctoc

docs: update color migration guide
  docs/color-migration.md
Due: npx prettier --write, npx doctoc

docs: rewrite color migration guide for HIVE 3.0 tokens
  docs/color-migration.md
Due: npx prettier --write, npx doctoc

docs: update primary and error OKLCH values
  docs/color-migration.md
Due: npx prettier --write, npx doctoc

docs: add color migration guide (#627)
  docs/color-migration.md
Due: npx prettier --write, npx doctoc

HZC-7913: Toggle redesign (HIVE 3.0) with /old fallback
  __stories__/Toggle.stories.tsx
  __tests__/components/Toggle.test.tsx
  docs/migration-v4.md
  package-lock.json
  package.json
  src/components/Toggle.module.css
  src/old/Toggle.tsx
  src/old/ToggleFormik.tsx
  src/old/ToggleLegacy.module.scss
  src/old/Tooltip.module.scss
  src/old/index.ts
Due: npx prettier --write, npx doctoc

change base
  src/components/Button.module.scss
  src/components/Button.tsx
  styles/constants/_typography.scss
Due: npx prettier --write

refactor(Toggle): replace hard-coded values with design tokens
  src/components/Toggle.module.css
Due: npx prettier --write

feat(colors): add HIVE 4.0 OKLCH tokens and wire Toggle to v4
  __stories__/Colors.mdx
  docs/Colors/ColorComparison.tsx
  src/components/Toggle.module.css
  styles/constants/_colors.scss
  styles/variables.css
Due: npx prettier --write

chore: remove exports field from package.json
  package.json
Due: npx prettier --write

fix(Toggle): remove duplicate stale CSS block with hard-coded values
  src/components/Toggle.module.css
Due: npx prettier --write

docs(Toggle): correct HIVE 3.0 → 4.0 in migration guide
  docs/migration-v4.md
Due: npx prettier --write, npx doctoc

feat(Toggle): replace disabled opacity with theme-overridable tokens
  src/components/Toggle.module.css
  styles/variables.css
Due: npx prettier --write

refactor(Toggle): use existing v4 tokens for disabled state, remove added tokens
  docs/Colors/ColorComparison.tsx
  src/components/Toggle.module.css
  styles/variables.css
Due: npx prettier --write

fix(Toggle): make disabled-unchecked track visible on white bg
  src/components/Toggle.module.css
Due: npx prettier --write

HZC-7913: Toggle redesign (HIVE 4.0) with /old fallback (#628)
  __stories__/Colors.mdx
  __stories__/Toggle.stories.tsx
  __tests__/components/Toggle.test.tsx
  docs/Colors/ColorComparison.tsx
  docs/migration-v4.md
  package-lock.json
  src/components/Toggle.module.css
  src/old/Toggle.tsx
  src/old/ToggleFormik.tsx
  src/old/ToggleLegacy.module.scss
  src/old/Tooltip.module.scss
  src/old/index.ts
  styles/constants/_colors.scss
  styles/variables.css
Due: npx prettier --write, npx doctoc

docs: update v4 migration guide for Button
  docs/migration-v4.md
Due: npx prettier --write, npx doctoc

feat(IconButton, ButtonGroup): align with v4 Button
  src/components/ButtonGroup.module.css
  src/components/ButtonGroup.tsx
  src/components/IconButton.module.css
  src/old/IconButton.tsx
  src/old/IconButtonLegacy.module.scss
Due: npx prettier --write

feat(colors): add v4 button tokens
  styles/variables.css
Due: npx prettier --write

refactor: migrate consumers to new Button v4 API
  src/components/Alert.tsx
  src/components/AppHeader/AppHeaderMenu/AppHeaderMenu.tsx
  src/components/AppSidebar/AppSidebar.tsx
  src/components/AppSidebar/AppSidebarFavoriteButton/AppSidebarFavoriteButton.tsx
  src/components/AppSidebar/AppSidebarItem/AppSidebarItem.tsx
  src/components/AutocompleteField.tsx
  src/components/Calendar/components/CalendarTime.tsx
  src/components/Dialog.tsx
  src/components/InteractiveList.tsx
  src/components/Modal.tsx
  src/components/NumberField.tsx
  src/components/Pagination.tsx
  src/components/PasswordField.tsx
  src/components/Select/Common.tsx
  src/components/TextField.tsx
  src/components/Toast.tsx
Due: npx prettier --write

feat(Button)!: redesign with orthogonal variant x color API
  src/components/Button.module.css
  src/old/Button.tsx
  src/old/ButtonLegacy.module.scss
  src/old/index.ts
Due: npx prettier --write

test: update tests for v4 Button API
  __tests__/components/Button.test.tsx
  __tests__/components/Card.test.tsx
  __tests__/components/IconButtons.test.tsx
  __tests__/components/NumberField.test.tsx
  __tests__/components/PasswordField.test.tsx
Due: npx prettier --write

docs(Storybook): rebuild Button docs with v4 matrix and Do/Don'ts
  .storybook/DocsTabs.tsx
  .storybook/preview.scss
  .storybook/preview.tsx
  __stories__/AppHeader.stories.tsx
  __stories__/AppSidebar.stories.tsx
  __stories__/Button.mdx
  __stories__/Button.stories.module.scss
  __stories__/Button.stories.tsx
  __stories__/ButtonGroup.stories.tsx
  __stories__/Card.stories.tsx
  __stories__/IconButton.stories.tsx
  __stories__/Modal.stories.tsx
  docs/Intro/Intro.tsx
Due: npx prettier --write

refactor(IconButton): align API with Button (variant/color/size); derive iconSize from size
  __stories__/Button.stories.tsx
  __stories__/ButtonGroup.stories.tsx
  __stories__/IconButton.stories.tsx
  __tests__/components/Button.test.tsx
  __tests__/components/Card.test.tsx
  __tests__/components/IconButtons.test.tsx
  __tests__/components/NumberField.test.tsx
  docs/migration-v4.md
  src/components/AppHeader/AppHeaderMenu/AppHeaderMenu.tsx
  src/components/AppSidebar/AppSidebar.tsx
  src/components/AppSidebar/AppSidebarFavoriteButton/AppSidebarFavoriteButton.tsx
  src/components/AutocompleteField.tsx
  src/components/Button.tsx
  src/components/IconButton.module.css
  src/components/IconButton.tsx
  src/components/InteractiveList.tsx
  src/components/NumberField.tsx
  src/components/Pagination.tsx
  src/components/PasswordField.tsx
  src/components/Select/Common.tsx
  src/components/TextField.tsx
Due: npx prettier --write, npx doctoc

fix(Button): use smallMedium icon for regular size (medium was too big)
  __tests__/components/Button.test.tsx
  __tests__/components/NumberField.test.tsx
  src/components/Button.tsx
  src/components/IconButton.tsx
Due: npx prettier --write

docs(IconButton): rebuild stories to mirror Button playground & docs
  __stories__/IconButton.stories.tsx
Due: npx prettier --write

docs(Toggle): rebuild stories to mirror Button playground & docs
  __stories__/Toggle.stories.tsx
Due: npx prettier --write

docs(IconButton, Toggle): add MDX docs pages mirroring Button
  __stories__/IconButton.mdx
  __stories__/Toggle.mdx
Due: none
