Repository hazelcast/hive: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx doctoc

Add README
  README.md
  package.json
  packages/ui/__stories__/Colors.stories.mdx
Due: npx prettier --write, npx doctoc

Update README
  README.md
Due: npx prettier --write, npx doctoc

Update the TextField outline
  packages/ui/src/TextField.module.scss
Due: npx prettier --write

Update screenshots
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Focused_With_Error.png
Due: none

Enhance readOnly state
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Readonly.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Error.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Hovered.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Readonly.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Readonly.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Hovered.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Readonly.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Readonly.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Readonly.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Readonly_Focused.png
  packages/ui/__stories__/TextField.stories.tsx
  packages/ui/__tests__/TextField.test.tsx
  packages/ui/src/TextField.module.scss
  packages/ui/src/TextField.tsx
Due: npx prettier --write

feat: commented out all kinds apart form primary and secondary
  packages/ui/__stories__/Button.stories.tsx
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
Due: npx prettier --write

feat: add test
  packages/ui/__tests__/Button.test.tsx
Due: npx prettier --write

feat: add description and links
  packages/ui/__stories__/Button.stories.tsx
  packages/ui/src/Button.tsx
Due: npx prettier --write

feat: add disabled figma link
  packages/ui/__stories__/Button.stories.tsx
Due: npx prettier --write

Improve A11Y for errors
  packages/ui/__tests__/TextField.test.tsx
  packages/ui/src/Error.tsx
  packages/ui/src/Help.tsx
  packages/ui/src/TextField.tsx
Due: npx prettier --write

Add transparent outline
  packages/ui/src/TextField.module.scss
  packages/ui/styles/a11y.scss
  packages/ui/styles/index.scss
Due: npx prettier --write

refactor: inputBorderWidth to borderWidth
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
  packages/ui/src/TextField.module.scss
  packages/ui/styles/constants/sizes.scss
Due: npx prettier --write

test: remove redundant .exists assertions
  packages/ui/__tests__/Button.test.tsx
  packages/ui/src/Button.module.scss
Due: npx prettier --write

feat: add more button stories
  packages/ui/__stories__/Button.stories.tsx
Due: npx prettier --write

Update TextField outline (#22)
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Readonly.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Error.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Hovered.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Readonly.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Readonly.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Hovered.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Readonly.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Readonly.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Readonly_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Readonly.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Readonly_Focused.png
  packages/ui/__stories__/TextField.stories.tsx
  packages/ui/__tests__/TextField.test.tsx
  packages/ui/src/Error.tsx
  packages/ui/src/Help.tsx
  packages/ui/src/TextField.module.scss
  packages/ui/src/TextField.tsx
  packages/ui/styles/a11y.scss
  packages/ui/styles/index.scss
Due: npx prettier --write

refactor: specify ButtonHTMLAttributes
  packages/ui/src/Button.tsx
Due: npx prettier --write

Configure lerna canary publishing
  lerna.json
  package.json
Due: npx prettier --write

Add NPM dist tag
  package.json
Due: npx prettier --write

feat: add box-shadow outline
  packages/ui/src/Button.module.scss
  packages/ui/src/TextField.module.scss
  packages/ui/styles/a11y.scss
Due: npx prettier --write

Update READMEs and descriptions
  packages/helpers/README.md
  packages/helpers/package.json
  packages/services/README.md
  packages/services/package.json
  packages/test-helpers/README.md
  packages/test-helpers/package.json
  packages/ui/README.md
  packages/ui/package.json
Due: npx prettier --write, npx doctoc

Add code owners
  CODEOWNERS
Due: none

feat: add letter-spacing
  packages/ui/src/Button.module.scss
Due: npx prettier --write

refactor: separate outline
  packages/ui/src/Button.module.scss
  packages/ui/src/TextField.module.scss
  packages/ui/styles/a11y.scss
Due: npx prettier --write

refactor: width to min-width, due to a11y
  packages/ui/src/Button.module.scss
Due: npx prettier --write

feat: outline placeholder
  packages/ui/__stories__/Button.stories.tsx
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
  packages/ui/styles/a11y.scss
  packages/ui/styles/constants/sizes.scss
Due: npx prettier --write

test: regenerate screenshots
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Error.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_fullHD_Components_TextField_With_Icon_Hovered.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_laptop_Components_TextField_With_Icon_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextField_With_Icon_Hovered.png
Due: none

feat: add TruncatedText to Button
  packages/ui/__stories__/Button.stories.tsx
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
  packages/ui/src/TruncatedText.module.scss
  packages/ui/src/TruncatedText.tsx
  packages/ui/styles/text.scss
Due: npx prettier --write

test: ignore calcs
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
Due: npx prettier --write

Add yes flag
  package.json
Due: npx prettier --write

Add .npmrc to gitignore
  .gitignore
Due: none

Add no verify access
  package.json
Due: npx prettier --write

Add NPM publishing (#25)
  .gitignore
  CODEOWNERS
  lerna.json
  package.json
  packages/helpers/README.md
  packages/helpers/package.json
  packages/services/README.md
  packages/services/package.json
  packages/test-helpers/README.md
  packages/test-helpers/package.json
  packages/ui/README.md
  packages/ui/package.json
Due: npx prettier --write, npx doctoc

Fix publish-canary for CentOS 7
  package.json
Due: npx prettier --write

refactor: ovelay
  packages/ui/.loki/reference/chrome_fullHD_Components_Button_Primary_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_Button_Primary_Icon_Both_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_Button_Secondary_Focused.png
  packages/ui/.loki/reference/chrome_fullHD_Components_Button_Secondary_Icon_Both_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_Button_Primary_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_Button_Primary_Icon_Both_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_Button_Secondary_Focused.png
  packages/ui/.loki/reference/chrome_laptop_Components_Button_Secondary_Icon_Both_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Primary_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Primary_Icon_Both_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Secondary_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Secondary_Icon_Both_Focused.png
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
  packages/ui/styles/constants/index.scss
  packages/ui/styles/constants/sizes.scss
  packages/ui/styles/constants/stackingContext.scss
Due: npx prettier --write

Add @lerna/publish patch
  package-lock.json
  package.json
  patches/@lerna+publish+3.22.1.patch
Due: npx prettier --write

Path conditions:
  npx prettier --write: (any of: *.{js,ts,tsx,json,css,scss,yml}) or (any of: *.md)
  npx doctoc: any of: *.md
