Repository hazelcast/hive: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx doctoc

Replace (revoked) npm classic token with OIDC authentication (#614)
  .github/actions/install/action.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: npx prettier --write

tooltip alignment
  src/components/Tooltip.module.scss
Due: npx prettier --write

MC-3286: tooltip alignment (#616)
  src/components/Tooltip.module.scss
Due: npx prettier --write

3.0.11
  package-lock.json
  package.json
Due: npx prettier --write

consistent font size
  src/components/Table/Row.module.scss
Due: npx prettier --write

MC-3384: consistent font size (#617)
  src/components/Table/Row.module.scss
Due: npx prettier --write

3.0.12
  package-lock.json
  package.json
Due: npx prettier --write

cleanup project
  eslint.config.base.mjs
  package-lock.json
  package.json
  rollup.config.mjs
Due: npx prettier --write

cleanup project
  CODEOWNERS
Due: none

Cleanup (#618)
  CODEOWNERS
  eslint.config.base.mjs
  package-lock.json
  package.json
  rollup.config.mjs
Due: npx prettier --write

Remove PAT
  .github/workflows/release.yml
Due: npx prettier --write

3.0.13
  package-lock.json
  package.json
Due: npx prettier --write

Remove PAT from release workflow (#619)
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: npx prettier --write

setup tailwind
  .claude/CLAUDE.md
  .claude/audits/audit-report-hazelcast-cloud-frontend.md
  .claude/commands/audit-consumer-app.md
  .storybook/main.ts
  .storybook/preview.tsx
  __stories__/Button.stories.tsx
  components.json
  package-lock.json
  package.json
  postcss.config.mjs
  src/components/Button.module.scss
  src/components/Button.tsx
  src/components/ui/button.tsx
  src/styles/globals.css
Due: npx prettier --write, npx doctoc

migrate Button
  .claude/CLAUDE.md
  .claude/audits/audit-report-hazelcast-cloud-frontend.md
  MIGRATION_GUIDE.md
  __stories__/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/ButtonPrimitive.tsx
  src/components/Button/index.ts
  src/components/ui/button.tsx
  src/styles/globals.css
Due: npx prettier --write, npx doctoc

migrate Tooltip
  MIGRATION_GUIDE.md
  __stories__/Tooltip.stories.tsx
  __tests__/components/Button.test.tsx
  __tests__/components/Tooltip.test.tsx
  package-lock.json
  package.json
  src/components/Button/Button.tsx
  src/components/Error.tsx
  src/components/FieldHeader.tsx
  src/components/Help.tsx
  src/components/IconButton.tsx
  src/components/Table/Cell.tsx
  src/components/TextField.tsx
  src/components/Tooltip.module.scss
  src/components/Tooltip.tsx
  src/components/Tooltip/SimpleTooltip.tsx
  src/components/Tooltip/TooltipPrimitive.tsx
  src/components/Tooltip/index.ts
  src/components/TruncatedText.tsx
  src/index.ts
Due: npx prettier --write, npx doctoc

migrate Tooltip
  MIGRATION_GUIDE.md
Due: npx prettier --write, npx doctoc

migrate Tooltip
  src/components/IconButton.tsx
Due: npx prettier --write

migrate Tooltip
  .postcss-lint/postcss.config.mjs
  .stylelintignore
  package-lock.json
  package.json
Due: npx prettier --write

add envs
  .claude/CLAUDE.md
Due: npx prettier --write, npx doctoc

add envs
  .claude/CLAUDE.md
  MIGRATION_GUIDE.md
  README.md
  package-lock.json
  package.json
Due: npx prettier --write, npx doctoc

stash
  __stories__/Tooltip.stories.tsx
  package.json
  src/components/Tooltip/TooltipPrimitive.tsx
Due: npx prettier --write

stash
  .claude/commands/migrate-to-v4.md
  .claude/commands/update-hive.md
  .lintstagedrc
  CLAUDE.md
  README.md
  docs/migration-v4.md
  package-lock.json
  package.json
Due: npx prettier --write, npx doctoc

new exports
  .storybook/preview.tsx
  __stories__/Tooltip.stories.tsx
  docs/migration-v4.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/AppSidebar/AppSidebarItem/AppSidebarItem.tsx
  src/components/Button.tsx
  src/components/Error.tsx
  src/components/Help.tsx
  src/components/IconButton.tsx
  src/components/Table/Cell.tsx
  src/components/TextField.tsx
  src/components/Tooltip.module.css
  src/components/Tooltip.tsx
  src/components/TruncatedText.tsx
  src/components/old/Tooltip.module.scss
  src/components/old/Tooltip.tsx
  src/global.d.ts
  src/old/index.ts
  styles/variables.css
Due: npx prettier --write, npx doctoc

modify skill
  .claude/commands/migrate-to-v4.md
  package-lock.json
Due: npx prettier --write, npx doctoc

mremove stylelint
  .claude/commands/update-hive.md
  .postcss-lint/postcss.config.mjs
  .stylelintignore
  CLAUDE.md
  package-lock.json
  package.json
  src/components/TextField.module.scss
  src/components/Toggle.module.scss
  stylelint.config.mjs
Due: npx prettier --write, npx doctoc

mremove stylelint
  package.json
Due: npx prettier --write

mremove stylelint
  __tests__/components/Tooltip.test.tsx
Due: npx prettier --write

mremove stylelint
  docs/migration-v4.md
Due: npx prettier --write, npx doctoc

HZC-7800: simple redesign (#621)
  .claude/commands/migrate-to-v4.md
  .claude/commands/update-hive.md
  .lintstagedrc
  .postcss-lint/postcss.config.mjs
  .storybook/preview.tsx
  .stylelintignore
  CLAUDE.md
  README.md
  __stories__/Tooltip.stories.tsx
  __tests__/components/Tooltip.test.tsx
  docs/migration-v4.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/AppSidebar/AppSidebarItem/AppSidebarItem.tsx
  src/components/Button.tsx
  src/components/Error.tsx
  src/components/Help.tsx
  src/components/IconButton.tsx
  src/components/Table/Cell.tsx
  src/components/TextField.module.scss
  src/components/TextField.tsx
  src/components/Toggle.module.scss
  src/components/Tooltip.module.css
  src/components/Tooltip.tsx
  src/components/TruncatedText.tsx
  src/components/old/Tooltip.module.scss
  src/components/old/Tooltip.tsx
  src/global.d.ts
  src/old/index.ts
  stylelint.config.mjs
  styles/variables.css
Due: npx prettier --write, npx doctoc

4.0.1-canary.0
  package-lock.json
  package.json
Due: npx prettier --write

mremove stylelint
  .github/workflows/release.yml
Due: npx prettier --write

mremove stylelint
  package-lock.json
Due: npx prettier --write

HZC-7800 simple redesign (#622)
  .github/workflows/release.yml
Due: npx prettier --write

4.0.1-canary.1
  package-lock.json
  package.json
Due: npx prettier --write

install canary
  src/components/AppSidebar/AppSidebarItem/AppSidebarItem.tsx
  src/components/Button.tsx
  src/components/Error.tsx
  src/components/Help.tsx
  src/components/IconButton.tsx
  src/components/Table/Cell.tsx
  src/components/TextField.tsx
  src/components/TruncatedText.tsx
Due: npx prettier --write

install canary
  __tests__/components/Button.test.tsx
  __tests__/components/IconButtons.test.tsx
Due: npx prettier --write

install canary
  .claude/commands/update-hive.md
  __tests__/components/IconButtons.test.tsx
Due: npx prettier --write, npx doctoc

HZC-7800: simple redesign (#623)
  .claude/commands/update-hive.md
  __tests__/components/Button.test.tsx
  __tests__/components/IconButtons.test.tsx
  src/components/AppSidebar/AppSidebarItem/AppSidebarItem.tsx
  src/components/Button.tsx
  src/components/Error.tsx
  src/components/Help.tsx
  src/components/IconButton.tsx
  src/components/Table/Cell.tsx
  src/components/TextField.tsx
  src/components/TruncatedText.tsx
Due: npx prettier --write, npx doctoc

Path conditions:
  npx prettier --write: (any of: *.{js,ts,tsx,json,css,scss,yml}) or (any of: *.md)
  npx doctoc: any of: *.md
