Repository hazelcast/hive: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx doctoc

HZC-5155: Hive card border update (#507)
  packages/ui/.loki/reference/chrome_minimal_Components_Card_Simple.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Caption.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Custom_Styling.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Heading_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Icon_And_Separator.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Separator.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_Without_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_Without_Title.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Animation_Fade.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Doubles.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Infinite_Slides.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Start_From_Last.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Without_Controls.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Full_Height_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Long_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Title.png
  packages/ui/src/Card.module.scss
Due: npx prettier --write

*feat TextField and PasswordField "secondary" variant and "large" size *feat Label variant property *feat Button new color and size *feat gradients
  packages/ui/src/Button.module.scss
Due: npx prettier --write

*feat TextField and PasswordField "secondary" variant and "large" size *feat Label variant property *feat Button new color and size *feat gradients
  packages/ui/__stories__/Button.stories.tsx
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
  packages/ui/styles/constants/_colors.scss
  packages/ui/styles/helpers/_gradients.scss
Due: npx prettier --write

*feat TextField and PasswordField "secondary" variant and "large" size *feat Label variant property *feat Button new color and size *feat gradients
  packages/ui/__tests__/Select/CheckableSelectField.test.tsx
  packages/ui/__tests__/TextField.test.tsx
  packages/ui/src/Button.tsx
Due: npx prettier --write

*feat TextField and PasswordField "secondary" variant and "large" size *feat Label variant property *feat Button new color and size *feat gradients
  packages/ui/src/Button.module.scss
  packages/ui/styles/constants/_colors.scss
  packages/ui/styles/helpers/_gradients.scss
Due: npx prettier --write

*feat TextField and PasswordField "secondary" variant and "large" size *feat Label variant property *feat Button new color and size *feat gradients
  packages/ui/styles/helpers/_gradients.scss
Due: npx prettier --write

*feat TextField and PasswordField "secondary" variant and "large" size *feat Label variant property *feat Button new color and size *feat gradients
  packages/ui/.loki/reference/chrome_minimal_Components_Card_Simple.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Caption.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Custom_Styling.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Heading_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Icon_And_Separator.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Separator.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_Without_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_Without_Title.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Animation_Fade.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Doubles.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Infinite_Slides.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Start_From_Last.png
  packages/ui/.loki/reference/chrome_minimal_Components_Carousel_Without_Controls.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Full_Height_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Long_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Title.png
Due: none

*feat PasswordField hideToggle property
  packages/ui/__stories__/PasswordField.stories.tsx
  packages/ui/src/PasswordField.module.scss
  packages/ui/src/PasswordField.tsx
Due: npx prettier --write

*feat PasswordField hideToggle property
  packages/ui/.loki/reference/chrome_minimal_Components_PasswordField_Without_Toggle.png
  packages/ui/__stories__/PasswordField.stories.tsx
  packages/ui/__tests__/PasswordField.test.tsx
Due: npx prettier --write

*feat PasswordField hideToggle property (#508)
  packages/ui/.loki/reference/chrome_minimal_Components_PasswordField_Without_Toggle.png
  packages/ui/__stories__/PasswordField.stories.tsx
  packages/ui/__tests__/PasswordField.test.tsx
  packages/ui/src/PasswordField.module.scss
  packages/ui/src/PasswordField.tsx
Due: npx prettier --write

*fix Move PasswordField hideToggle property to right TS type
  packages/ui/src/PasswordField.tsx
Due: npx prettier --write

*fix Move PasswordField hideToggle property to right TS type (#509)
  packages/ui/src/PasswordField.tsx
Due: npx prettier --write

MC-2329 Rebranding textarea styles
  packages/ui/src/TextArea.module.scss
Due: npx prettier --write

Update screenshots
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Custom_Rows.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Empty.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused_With_Helper_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Not_Resizable.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Text_Area_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_With_Helper_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Without_Label.png
Due: none

MC-2329 Rebranding textarea styles (#511)
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Custom_Rows.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Empty.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused_With_Helper_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Not_Resizable.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Text_Area_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_With_Helper_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Without_Label.png
  packages/ui/src/TextArea.module.scss
Due: npx prettier --write

MC-2117 Watch column size and page size changes
  packages/ui/src/Table/Table.tsx
  packages/ui/src/hooks/useDebouncedEffect.ts
Due: npx prettier --write

remove backup font
  packages/ui/styles/constants/_typography.scss
Due: npx prettier --write

fix tests
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
Due: none

fix tests
  README.md
Due: npx prettier --write, npx doctoc

TEST: node 18
  .github/actions/install/action.yml
Due: npx prettier --write

TEST: node 18
  .github/workflows/pull-request.yml
Due: npx prettier --write

HZC-5514: remove backup font (#514)
  .github/actions/install/action.yml
  .github/workflows/pull-request.yml
  README.md
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/styles/constants/_typography.scss
Due: npx prettier --write, npx doctoc

fix(ui): replace transparent background for Alert
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Critical.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Critical_Action.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Critical_Actions.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Critical_Without_Close_Button.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Info.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Info_Action.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Info_Actions.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Info_Without_Close_Button.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Success.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Success_Action.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Success_Actions.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Success_Without_Close_Button.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Warning.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Warning_Action.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Warning_Actions.png
  packages/ui/.loki/reference/chrome_minimal_Components_Alert_Warning_Without_Close_Button.png
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Caption.png
  packages/ui/.loki/reference/chrome_minimal_Components_CheckableSelectField_Without_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Full_Height_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Long_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Title.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/src/Alert.module.scss
Due: npx prettier --write

fix(e2e): tests
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen.png
Due: none

fix(ci): pnpm version bump
  .github/actions/install/action.yml
Due: npx prettier --write

fix(e2e): tests
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Caption.png
  packages/ui/.loki/reference/chrome_minimal_Components_CheckableSelectField_Without_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Full_Height_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Long_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Title.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value_And_No_Results.png
Due: none

fix(e2e): tests
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Caption.png
Due: none

fix(e2e): tests
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Full_Height_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Long_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused_With_Error.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused_With_Helper_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Not_Resizable.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_With_Helper_Text.png
  packages/ui/package.json
Due: npx prettier --write

fix(ci): pull docker image
  .github/workflows/pull-request.yml
Due: npx prettier --write

fix(e2e): tests
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Long_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_TextArea_Focused_With_Error.png
  packages/ui/package.json
  pnpm-lock.yaml
Due: npx prettier --write

Path conditions:
  npx prettier --write: (any of: *.{js,ts,tsx,json,css,scss,yml}) or (any of: *.md)
  npx doctoc: any of: *.md
