Repository hazelcast/hive: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx doctoc

.lintstagedrc:

{
  "*.{js,ts,tsx,json,css,scss,yml}": [
    "npx prettier --write",
  ],
  "*.md": [
    "npx doctoc",
    "npx prettier --write",
  ]
}

fix(test): unit & visual
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Visible.png
  packages/ui/__tests__/AutocompleteFieldFormik.test.tsx
  packages/ui/__tests__/EmptyState.test.tsx
  packages/ui/__tests__/Pagination.test.tsx
  packages/ui/__tests__/Select/MultiSelectField.test.tsx
  packages/ui/__tests__/Select/MultiSelectFieldFormik.test.tsx
  packages/ui/__tests__/Select/SelectField.test.tsx
  packages/ui/__tests__/Select/SelectFieldFormik.test.tsx
  packages/ui/src/Select/SelectField.tsx
Due: npx prettier --write

feat(ui): update react-select v5
  packages/ui/__stories__/Icon.stories.tsx
  packages/ui/__stories__/InteractiveListFormik.stories.tsx
  packages/ui/__stories__/MultiSelectField.stories.tsx
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/__tests__/AutocompleteFieldFormik.test.tsx
  packages/ui/__tests__/Select/helpers.test.ts
  packages/ui/src/AutocompleteField.tsx
  packages/ui/src/Select/Common.tsx
  packages/ui/src/Select/MultiSelectField.tsx
  packages/ui/src/Select/SelectField.tsx
  packages/ui/src/Select/helpers.ts
Due: npx prettier --write

fix(test): visual
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Autocomplete_Field_Clearable_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Autocomplete_Field_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Custom_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Select_Field_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_With_Grouped_Options.png
  packages/ui/package.json
  pnpm-lock.yaml
Due: npx prettier --write

fix(test): unit & visual
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Full_Height_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Table_Sortable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Table_With_Columns_Ordering.png
  packages/ui/__stories__/Icon.stories.tsx
Due: npx prettier --write

fix(test): unit & visual
  packages/ui/.loki/reference/chrome_minimal_Components_Table_With_Columns_Ordering.png
Due: none

fix(test): unit & visual
  packages/ui/.loki/reference/chrome_minimal_Components_Table_Sortable.png
Due: none

fix(test): unit & visual
  package.json
Due: npx prettier --write

feat: update react-select v5 (#536)
  package.json
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Autocomplete_Field_Clearable_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Autocomplete_Field_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_AutocompleteField_Custom_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_Icon_Simple_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Full_Height_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Select_Field_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_With_Grouped_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Visible.png
  packages/ui/__stories__/Icon.stories.tsx
  packages/ui/__stories__/InteractiveListFormik.stories.tsx
  packages/ui/__stories__/MultiSelectField.stories.tsx
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/__tests__/AutocompleteFieldFormik.test.tsx
  packages/ui/__tests__/EmptyState.test.tsx
  packages/ui/__tests__/Pagination.test.tsx
  packages/ui/__tests__/Select/MultiSelectField.test.tsx
  packages/ui/__tests__/Select/MultiSelectFieldFormik.test.tsx
  packages/ui/__tests__/Select/SelectField.test.tsx
  packages/ui/__tests__/Select/SelectFieldFormik.test.tsx
  packages/ui/__tests__/Select/helpers.test.ts
  packages/ui/package.json
  packages/ui/src/AutocompleteField.tsx
  packages/ui/src/Select/Common.tsx
  packages/ui/src/Select/MultiSelectField.tsx
  packages/ui/src/Select/SelectField.tsx
  packages/ui/src/Select/helpers.ts
  packages/ui/src/hooks/useCloseOnResize.ts
  pnpm-lock.yaml
Due: npx prettier --write

Add trailing note to select field options
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_With_Grouped_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_With_Trailing_Note.png
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/src/Select/Common.module.scss
  packages/ui/src/Select/Common.tsx
  packages/ui/src/Select/helpers.ts
Due: npx prettier --write

Add trailing note to select field options (#538)
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_With_Grouped_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_With_Trailing_Note.png
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/src/Select/Common.module.scss
  packages/ui/src/Select/Common.tsx
  packages/ui/src/Select/helpers.ts
Due: npx prettier --write

feat(ui): add disable prop to Tooltip
  packages/ui/__stories__/Tooltip.stories.tsx
  packages/ui/src/Tooltip.tsx
Due: npx prettier --write

feat(ui): add disable prop to Tooltip (#539)
  packages/ui/__stories__/Tooltip.stories.tsx
  packages/ui/src/Tooltip.tsx
Due: npx prettier --write

feat(ui): restyle disable Toggle
  packages/ui/.loki/reference/chrome_minimal_Components_Toggle_Disabled_Checked.png
  packages/ui/.loki/reference/chrome_minimal_Components_Toggle_Disabled_Unchecked.png
  packages/ui/__stories__/Toggle.stories.tsx
  packages/ui/src/Toggle.module.scss
Due: npx prettier --write

feat(ui): restyle disable Toggle
  packages/ui/src/Toggle.module.scss
Due: npx prettier --write

feat: restyle disable Toggle (#540)
  packages/ui/.loki/reference/chrome_minimal_Components_Toggle_Disabled_Checked.png
  packages/ui/.loki/reference/chrome_minimal_Components_Toggle_Disabled_Unchecked.png
  packages/ui/__stories__/Toggle.stories.tsx
  packages/ui/src/Toggle.module.scss
Due: npx prettier --write

feat(code): can get value from InteractiveList
  packages/ui/__stories__/InteractiveListFormik.stories.tsx
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

*fix disable react-select menuShouldScrollIntoView by default
  packages/ui/src/Select/SelectField.tsx
Due: npx prettier --write

feat(code): can get value from InteractiveList (#541)
  packages/ui/__stories__/InteractiveListFormik.stories.tsx
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

*fix disable react-select menuShouldScrollIntoView by default (#542)
  packages/ui/src/Select/SelectField.tsx
Due: npx prettier --write

Avoid overflow of single value inside SelectField in FF [MC-2784]
  packages/ui/src/Select/SelectField.module.scss
Due: npx prettier --write

Restrict width of the container
  packages/ui/src/Select/SelectField.module.scss
Due: npx prettier --write

Avoid overflow of a long text value inside SelectField in Firefox [MC-2784] (#543)
  packages/ui/src/Select/SelectField.module.scss
Due: npx prettier --write

add auth secondary button
  packages/ui/__stories__/Button.stories.tsx
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
  packages/ui/styles/constants/_colors.scss
  pnpm-lock.yaml
Due: npx prettier --write

add auth secondary button
  packages/ui/src/Button.module.scss
Due: npx prettier --write

add auth secondary button
  README.md
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Active.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Disabled_With_Long_Label.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Disabled_With_Long_Label_Showing_Label_In_Tooltip.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Non_Capitalized.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Inset_Outline.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Left_And_Right_Icons.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Left_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader_And_Both_Icons.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader_And_Left_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader_And_Right_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Long_Label.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Right_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_CheckableSelectField_Without_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Full_Height_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Long_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Title.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value_And_No_Results.png
Due: npx prettier --write, npx doctoc

revert pnpm.lock
  pnpm-lock.yaml
Due: none

revert medium button
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Active.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Disabled_With_Long_Label.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Disabled_With_Long_Label_Showing_Label_In_Tooltip.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Non_Capitalized.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Inset_Outline.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Left_And_Right_Icons.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Left_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader_And_Both_Icons.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader_And_Left_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader_And_Right_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Long_Label.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Right_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/__stories__/Button.stories.tsx
Due: npx prettier --write

HZX-47 auth buttons (#544)
  README.md
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Active.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Disabled.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Disabled_With_Long_Label.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Disabled_With_Long_Label_Showing_Label_In_Tooltip.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Focused.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Hovered.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Non_Capitalized.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Inset_Outline.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Left_And_Right_Icons.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Left_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader_And_Both_Icons.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader_And_Left_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Loader_And_Right_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Long_Label.png
  packages/ui/.loki/reference/chrome_minimal_Components_Button_With_Right_Icon.png
  packages/ui/.loki/reference/chrome_minimal_Components_CheckableSelectField_Without_Options.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_MultiSelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Full_Height_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Fullscreen_With_Long_Content.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Title.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Open_With_Input_Value_And_No_Results.png
  packages/ui/__stories__/Button.stories.tsx
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
  packages/ui/styles/constants/_colors.scss
Due: npx prettier --write, npx doctoc

*feat CheckableSelectField custom search
  packages/ui/__stories__/CheckableSelectField.stories.tsx
  packages/ui/src/Checkbox.tsx
  packages/ui/src/Select/CheckableSelectField.module.scss
  packages/ui/src/Select/CheckableSelectField.tsx
  packages/ui/src/Tooltip.tsx
Due: npx prettier --write

*feat CheckableSelectField custom search
  packages/ui/.loki/reference/chrome_minimal_Components_CheckableSelectField_Custom_Search.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/__tests__/Select/CheckableSelectField.test.tsx
  packages/ui/src/Checkbox.tsx
  packages/ui/src/Select/CheckableSelectField.tsx
Due: npx prettier --write

Feature/checkableselect custom search (#545)
  packages/ui/.loki/reference/chrome_minimal_Components_CheckableSelectField_Custom_Search.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/__stories__/CheckableSelectField.stories.tsx
  packages/ui/__tests__/Select/CheckableSelectField.test.tsx
  packages/ui/src/Checkbox.tsx
  packages/ui/src/Select/CheckableSelectField.module.scss
  packages/ui/src/Select/CheckableSelectField.tsx
  packages/ui/src/Tooltip.tsx
Due: npx prettier --write

v1.3.2
  lerna.json
  packages/helpers/package.json
  packages/icons/package.json
  packages/services/package.json
  packages/test-helpers/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: npx prettier --write

v1.3.2 (#546)
  lerna.json
  packages/helpers/package.json
  packages/icons/package.json
  packages/services/package.json
  packages/test-helpers/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: npx prettier --write

add kapa btn
  packages/ui/__stories__/NumberField.stories.tsx
  packages/ui/src/NumberFieldFormik.tsx
Due: npx prettier --write

handle nested object
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
Due: none

HZC-6947: nested formik field (#547)
  packages/ui/.loki/reference/chrome_minimal_Components_NumberField_Wrapped_In_Formik.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Not_Closable.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Without_Close_Text.png
  packages/ui/__stories__/NumberField.stories.tsx
  packages/ui/src/NumberFieldFormik.tsx
Due: npx prettier --write

v1.3.2
  pnpm-lock.yaml
Due: none

fix
  README.md
  pnpm-lock.yaml
Due: npx prettier --write, npx doctoc

v1.3.2 (#548)
  README.md
Due: npx prettier --write, npx doctoc
