Repository hazelcast/hive: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx doctoc

.lintstagedrc:

{
  "*.{js,ts,tsx,json,css,scss,yml}": [
    "npx prettier --write",
  ],
  "*.md": [
    "npx doctoc",
    "npx prettier --write",
  ]
}

Hide body scroll when Overlay is open
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/Overlay.module.scss
  packages/ui/src/Overlay.tsx
Due: npx prettier --write

Add fullscreen mode to Overlay (#218)
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open_Fullscreen.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open_Fullscreen_Fullheight.png
  packages/ui/.loki/reference/chrome_minimal_Components_Overlay_Open_Fullscreen_Long_Content.png
  packages/ui/__stories__/Overlay.stories.tsx
  packages/ui/__tests__/Overlay.test.tsx
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/Overlay.module.scss
  packages/ui/src/Overlay.tsx
Due: npx prettier --write

add .iconClassName, .titleClassName
  packages/ui/__stories__/Card.stories.module.scss
  packages/ui/__stories__/Card.stories.tsx
  packages/ui/src/Card.tsx
Due: npx prettier --write

Add icons package
  .gitignore
  package.json
  packages/icons/.loki/reference/chrome_minimal_Icons_Icons.png
  packages/icons/.lokirc.json
  packages/icons/.storybook/main.js
  packages/icons/.storybook/theme.js
  packages/icons/README.md
  packages/icons/__stories__/index.stories.tsx
  packages/icons/__tests__/icons.test.js
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/icons/src/Cluster.tsx
  packages/icons/src/PlusCircle.tsx
  packages/icons/src/index.tsx
  packages/icons/src/types.ts
  packages/icons/tsconfig.build.json
  packages/icons/tsconfig.json
  packages/ui/.gitignore
  packages/ui/package-lock.json
Due: npx prettier --write, npx doctoc

Add gitignore
  packages/icons/.loki/.gitignore
Due: none

Update screenshots
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Secondary_Disabled_Tooltip.png
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Object_As_Value.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Left_End_Placement.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Left_Placement.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Left_Start_Placement.png
Due: none

change remove btn color.
  packages/ui/src/SelectField.module.scss
Due: npx prettier --write

Add generic typings for Icon
  packages/ui/src/Icon.tsx
Due: npx prettier --write

Fix build
  package-lock.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/ui/package.json
Due: npx prettier --write

Remove redundant scripts
  packages/icons/package.json
Due: npx prettier --write

update ref img
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Multiple_Selections_Disabled.png
Due: none

update loki img
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Custom_Styling.png
Due: none

hotfix multiselect disabled state chip color (#212)
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Multiple_Selections_Disabled.png
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/src/SelectField.module.scss
Due: npx prettier --write

Card component: add .iconClassName, .titleClassName props (#220)
  packages/ui/.loki/reference/chrome_minimal_Components_Card_With_Custom_Styling.png
  packages/ui/__stories__/Card.stories.module.scss
  packages/ui/__stories__/Card.stories.tsx
  packages/ui/src/Card.tsx
Due: npx prettier --write

Update screenshots
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Secondary_Disabled_Tooltip.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Left_End_Placement.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Left_Placement.png
  packages/ui/.loki/reference/chrome_minimal_Components_Tooltip_Left_Start_Placement.png
Due: none

Add @hazelcast/icons (#221)
  .gitignore
  package-lock.json
  package.json
  packages/icons/.loki/.gitignore
  packages/icons/.loki/reference/chrome_minimal_Icons_Icons.png
  packages/icons/.lokirc.json
  packages/icons/.storybook/main.js
  packages/icons/.storybook/theme.js
  packages/icons/README.md
  packages/icons/__stories__/index.stories.tsx
  packages/icons/__tests__/icons.test.js
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/icons/src/Cluster.tsx
  packages/icons/src/PlusCircle.tsx
  packages/icons/src/index.tsx
  packages/icons/src/types.ts
  packages/icons/tsconfig.build.json
  packages/icons/tsconfig.json
  packages/ui/.gitignore
  packages/ui/.loki/reference/chrome_minimal_Components_SelectField_Object_As_Value.png
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/Icon.tsx
Due: npx prettier --write, npx doctoc

feat: add nav icons
  packages/icons/src/Compute.tsx
  packages/icons/src/Folder.tsx
  packages/icons/src/MessageCircle.tsx
  packages/icons/src/Streaming.tsx
  packages/icons/src/index.tsx
Due: npx prettier --write

feat: remove MessageCircle
  packages/icons/src/MessageCircle.tsx
  packages/icons/src/index.tsx
Due: npx prettier --write

Interactive list - boostrap
  packages/ui/__stories__/InteractiveList.stories.tsx
  packages/ui/package-lock.json
  packages/ui/src/InteractiveList.module.scss
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

Use imperativeHandle for an InteractiveList
  package-lock.json
  packages/ui/__stories__/InteractiveList.stories.tsx
  packages/ui/src/InteractiveList.module.scss
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

Added unit tests form InteractiveListFormik
  packages/ui/__stories__/InteractiveListFormik.stories.tsx
  packages/ui/__tests__/InteractiveListFormik.test.tsx
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/index.ts
Due: npx prettier --write

Use inputControlRef for IntractiveList
  packages/ui/__stories__/InteractiveList.stories.tsx
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

Added screenshot for InteractiveComponent
  packages/ui/.loki/reference/chrome_minimal_Components_InteractiveListFormik_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_InteractiveListFormik_Default_With_Yup_Validation.png
  packages/ui/.loki/reference/chrome_minimal_Components_InteractiveListFormik_With_Custom_Add_Button.png
Due: none

InteractiveList MVP
  packages/ui/__stories__/InteractiveList.stories.tsx
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/InteractiveList.module.scss
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

Check validationSchema on submit for interactive field
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

Added documentation
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

Removed unused dependency
  packages/ui/src/InteractiveList.tsx
Due: npx prettier --write

InteractiveList decoupled from Formik
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

Renamed property to be more consistent
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

Moved inputControlRef to InteractiveListFormik props
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
Due: npx prettier --write

fix: make helperText props dependent on Help props
  packages/ui/src/Checkbox.tsx
  packages/ui/src/NumberField.tsx
  packages/ui/src/PasswordField.tsx
  packages/ui/src/Radio.tsx
  packages/ui/src/SelectField.tsx
  packages/ui/src/TextArea.tsx
  packages/ui/src/TextField.tsx
  packages/ui/src/Toggle.tsx
Due: npx prettier --write

Update packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveList.tsx
Due: npx prettier --write

style: change order of imports
  packages/ui/src/NumberField.tsx
Due: npx prettier --write

Fix: make helperText props dependent on Help props (#223)
  packages/ui/src/Checkbox.tsx
  packages/ui/src/NumberField.tsx
  packages/ui/src/PasswordField.tsx
  packages/ui/src/Radio.tsx
  packages/ui/src/SelectField.tsx
  packages/ui/src/TextArea.tsx
  packages/ui/src/TextField.tsx
  packages/ui/src/Toggle.tsx
Due: npx prettier --write

test: update Icons image
  packages/icons/.loki/reference/chrome_minimal_Icons_Icons.png
Due: none

Feature/interactive list (#214)
  package-lock.json
  packages/ui/.loki/reference/chrome_minimal_Components_InteractiveListFormik_Default.png
  packages/ui/.loki/reference/chrome_minimal_Components_InteractiveListFormik_Default_With_Yup_Validation.png
  packages/ui/.loki/reference/chrome_minimal_Components_InteractiveListFormik_With_Custom_Add_Button.png
  packages/ui/__stories__/InteractiveListFormik.stories.tsx
  packages/ui/__tests__/InteractiveListFormik.test.tsx
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/InteractiveList.module.scss
  packages/ui/src/InteractiveList.tsx
  packages/ui/src/InteractiveListFormik.tsx
  packages/ui/src/index.ts
Due: npx prettier --write

feat: add nav icons (#222)
  packages/icons/.loki/reference/chrome_minimal_Icons_Icons.png
  packages/icons/src/Compute.tsx
  packages/icons/src/Folder.tsx
  packages/icons/src/Streaming.tsx
  packages/icons/src/index.tsx
Due: npx prettier --write

feat: add inset outline option
  packages/ui/__stories__/Button.stories.tsx
  packages/ui/__tests__/Button.test.tsx
  packages/ui/src/Button.module.scss
  packages/ui/src/Button.tsx
Due: npx prettier --write

feat: add left icon to SelectField
  packages/ui/__stories__/SelectField.stories.tsx
  packages/ui/__tests__/SelectField.test.tsx
  packages/ui/src/SelectField.module.scss
  packages/ui/src/SelectField.tsx
Due: npx prettier --write

Add screenshots
  package-lock.json
  packages/ui/.loki/reference/chrome_minimal_Components_Button_Outline_Inset.png
Due: npx prettier --write
